#*
*.pprof
*.pyc
*.test
*~
.#*
/cbgb
/dist/cbgb.*.gz
/dist/static.zip
/dist/version.json
/generated_suite_test.json
/tools/bucketpath/bucketpath
/tools/createbuckets/createbuckets
/version_git.go
_*
tmp
