<div ng-controller="BucketStatsCtrl">
  <div ng-show="err" class="alert alert-error">
    <i class="icon-flag"></i> {{err}}
  </div>

  <ul class="breadcrumb">
    <li><a href="#/server"><i class="icon-home"></i> server</a><span class="divider">/</span></li>
    <li><a href="#/buckets"><i class="icon-book"></i> buckets</a><span class="divider">/</span></li>
    <li><a href="#/buckets/{{bucketName}}"><i class="icon-folder-open"></i> {{bucketName}}</a><span class="divider">/</span></li>
    <li class="active"><i class="icon-align-left"></i> stats</li>
  </ul>

  <div style="padding-left: 20px;">
    <div>
      <i class="icon-align-left"></i> stats for bucket: {{bucketName}}
      <ul class="nav nav-pills"
          style="padding: 15px 0 15px 0; border-bottom: 1px solid #ddd;">
        <li ng-repeat="level in bucketStats.levels"
           ng-class="{active: $index == currLevel}">
          <a ng-click="changeLevel($index)">{{level.name}}</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="span3"
           style="padding-left: 10px; border-right: 1px solid #ddd;">
        <ul class="nav">
          <li ng-repeat="statName in statNames">
            <a>{{statName}}</a>
          </li>
        </ul>
      </div>
      <div class="span6">
        <div id="charts">
          <svg id="chart" class="chart"></svg>
          <style>
            .chart {
              border: 1px solid #ddd;
            }
            .chart rect {
              stroke: white;
              fill: steelblue;
            }
          </style>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row" style="padding-left: 10px;">
      <div class="span12">
        <pre>{{bucketStats | json}}</pre>
      </div>
    </div>
  </div
</div>
