<div ng-controller="BucketDDocsCtrl">
  <div ng-show="err" class="alert alert-error">
    <i class="icon-flag"></i> {{err}}
  </div>

  <ul class="breadcrumb">
    <li><a href="#/server"><i class="icon-home"></i> server</a><span class="divider">/</span></li>
    <li><a href="#/buckets"><i class="icon-book"></i> buckets</a><span class="divider">/</span></li>
    <li><a href="#/buckets/{{bucketName}}"><i class="icon-folder-open"></i> {{bucketName}}</a><span class="divider">/</span></li>
    <li class="active"><i class="icon-random"></i> design docs</li>
  </ul>

  <div class="row main">
    <div class="span8">
      <legend>Design docs for bucket: {{bucketName}}</legend>
      <ul>
        <li>
          <i class="icon-random"></i> ddocs:
          <ul>
            <li ng-repeat="ddoc in ddocs.rows">
              {{ddoc.doc.meta.id}}
              <ul>
                <li ng-repeat="view in ddoc.doc.json.views">
                  map:
                  <pre>{{view.map}}</pre>
                  reduce:
                  <pre>{{view.reduce}}</pre>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="span4">
      <form name="ddocCreateForm">
        <legend>Create new design doc</legend>
        <label>Design doc name<br/>
          <input type="text"
                name="ddocName"
                required
                placeholder="_design/your-design-doc-name"
                ng-model="ddocName"/>
        </label>
        <label>View name<br/>
          <input type="text"
                name="viewName"
                required
                placeholder="your-view-name"
                ng-model="viewName"/>
        </label>
        <button type="submit" class="btn" ng-click="ddocCreate()">
          Create Design Doc
        </button>
      </form>
      <div ng-show="ddocCreateResult">
        {{ddocCreateResult}}
      </div>
    </div>
  </div>
</div>
