<div ng-controller="ServerCtrl">
  <div ng-show="err" class="alert alert-error">
    <i class="icon-flag"></i> {{err}}
  </div>

  <ul class="breadcrumb">
    <li class="active"><i class="icon-home"></i> server</li>
  </ul>

  <div class="main">
    <legend>Server</legend>
    <ul>
      <li>
        <a href="#/buckets"><i class="icon-book"></i> buckets</a>
      </li>
      <li>
        <i class="icon-info-sign"></i> settings:
        <pre>{{settings | json}}</pre>
      </li>
      <li>
        <i class="icon-info-sign"></i> memStats:
        <pre>{{memStats | json}}</pre>
      </li>
    </ul>
  </div>
</div>
