body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.main {
    padding-left: 20px;
}
.name {
    color: #888;
}
.statTotal {
    color: #aaa;
    font-size: 8pt;
    padding-left: 0.5em;
}
.view {
    width: 40em;
    font-family: courier;
}
.viewMap {
    height: 8em;
}
.viewReduce {
    height: 4em;
}
a.viewResults {
    padding-left: 20px;
    font-size: 12px;
}
.viewMutate {
    padding-right: 20px;
    float: right;
}
